# Ambiente virtual
venv/
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e temporários
*.log
*.tmp

# Sistema operacional
desktop.ini
.DS_Store
Thumbs.db

# Modelos e uploads
model/
uploads/

# Arquivos grandes de treino
*.h5
*.pb
*.ckpt

debug_examples/